<div class="card-wrap">
  <div class="avatar uppercase">
    <p class="letter">{{getNameFirstChar(contact.name)}}</p>
  </div>
  <div class="group">
    <i class="fa fa-user icon" aria-hidden="true"></i>
    <p class="detail">{{contact.name}}</p>
    <p class="detail">{{contact.surname}}</p>
  </div>
  <div class="group">
    <i class="fa fa-phone icon" aria-hidden="true"></i>
    <p class="detail">{{contact.telephone}}</p>
  </div>
  <div class="delete-wrap">
    <i class="fa fa-trash icon" aria-hidden="true" (click)="delete()"></i>
  </div>
</div>