/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import 'theme';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
body,
p {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.center {
    text-align: center;
}

.errorCol {
    color: $errorCol !important;
}

.success {
    background-color: $successCol;
}

.page-header {
    text-align: center;
    font-size: 32px;
    color: $accentCol;
}

.uppercase {
    text-transform: uppercase;
}